//paleta de colores del proyecto

$rojo-salsa: #f94144;
$naranja-rojizo: #f3722c;
$naranja-amarillento: #f8961e;
$naranja-mango: #f9844a;
$amarillo-maiz: #f9c74f;
$verde-amarillento: #90be6d;
$verde-turquess: #43aa8b;
$azul-agua: #4d908e;
$azul-puro: #577590;
$azul-fuerte: #277da1;

$negro: #000;
$blanco: #fff;
